.App {
  text-align: center;
  height: 100vh;
  display: flex;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.sidebar {
  width: 25%;
}

#map {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.hamburger {
  height: 50px;
}

.hamburger img {
  height: 50%;
  float: left;
  padding-top: 10px;
  padding-left: 5px;
  cursor: pointer;
}

.title {
  padding: 10px;
  border-style: solid;
  border-width: thin;
}

#search {
  width: 100%;
  height: 2rem;
  font-size: 1rem;
}

.list {
  padding: 0px;
  margin: 0px;
}

li.item {
  list-style: none;
  font-size: 1rem;
  padding: .5rem;
  border-style: solid;
  border-width: thin;
  cursor: pointer;
  margin-top: .5rem;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
